body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h0 {
  display: block;
  padding: 4px 10px;
  border-bottom: 1px solid #F5F5F7;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #384B70;
  text-align: left;
}

.table-wrp  {
  max-height: 75vh;
  overflow-y: auto;
  display:block;
}

table {
  width: 100%;
  


}


thead{
  position:sticky;
  top:0;
}

thead tr {
  background-color: #384B70;
  color: #F5F7F8;


}

tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9; 
}

tbody tr:hover {
  background-color: #96C9F4; 
}

@tailwind base;
@tailwind components;
@tailwind utilities;
